<!-- chat/templates/chat/room.html -->
{% extends "../base.html" %} {% block content %}
{% load static %}
<h1>
  {{group}}
</h1>
{{ room_name|json_script:"room-name" }}

<!-- Chat section -->
<div class="row bootstrap snippets ml-1 mr-1 max-width-chat">
  <div class="box box-primary direct-chat direct-chat-primary">
    <!-- Box header -->
    <div class="box-header with-border">
      <h3 class="box-title">Chat</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-primary" onclick="clearChatMessages()">Clear chat</button>
      </div>
    </div>
    <div class="box-body">
      <!-- Conversations are loaded here -->
      <div class="direct-chat-messages" id="direct-chat-messages"></div>
    </div>
    <div class="box-footer">
      <form action="#" method="post">
        {% csrf_token %}
        <div class="input-group">
          <input id="chat-message-input" type="text" name="message" placeholder="Type Message ..." class="form-control">
          <span class="input-group-btn">
            <input id="chat-message-submit" type="button" value="Send" class="btn btn-primary btn-flat" />
          </span>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="card border-light mb-3">
  <div class="card-header">{{ group.name }} group members</div>
  <div class="card-body results">
    {% for obj in group.users.all %}
    <div class="card m-4" style="width:fit-content;">
      {% if obj.images.count > 0 %}
      <img class="mx-auto p-3" src="{{obj.images.first.thumbnail.url}}" alt="Card image cap">
      {% else %}
      <img class="mx-auto p-3" src="{% static '/final_main_app/user.png' %}" alt="Card image cap">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{obj.user.username}}</h5>
        <p class="item">{{obj.user.first_name}} {{obj.user.last_name}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!--  -->
<script>
  // to store element and its priority
  class QElement {
    constructor(element, priority) {
      this.element = element;
      this.priority = priority;
    }
  }

  // PriorityQueue class
  class PriorityQueue {
    // An array is used to implement priority
    constructor() {
      this.items = [];
    }

    // enqueue function to add element
    // to the queue as per priority
    enqueue(element, priority) {
      // creating object from queue element
      var qElement = new QElement(element, priority);
      var contain = false;

      // iterating through the entire
      // item array to add element at the
      // correct location of the Queue
      for (var i = 0; i < this.items.length; i++) {
        if (this.items[i].priority > qElement.priority) {
          // Once the correct location is found it is
          // enqueued
          this.items.splice(i, 0, qElement);
          contain = true;
          break;
        }
      }

      // if the element have the highest priority
      // it is added at the end of the queue
      if (!contain) {
        this.items.push(qElement);
      }
    }

    // dequeue method to remove
    // element from the queue
    dequeue() {
      // return the dequeued element
      // and remove it.
      // if the queue is empty
      // returns Underflow
      if (this.isEmpty())
        return "Underflow";
      return this.items.shift();
    }

    // front function
    front() {
      // returns the highest priority element
      // in the Priority queue without removing it.
      if (this.isEmpty())
        return "No elements in Queue";
      return this.items[0];
    }

    // rear function
    rear() {
      // returns the lowest priority
      // element of the queue
      if (this.isEmpty())
        return "No elements in Queue";
      return this.items[this.items.length - 1];
    }

    // isEmpty function
    isEmpty() {
      // return true if the queue is empty.
      return this.items.length == 0;
    }

    // printQueue function
    // prints all the element of the queue
    printPQueue() {
      var str = "";
      for (var i = 0; i < this.items.length; i++)
        str += this.items[i].element + " ";
      return str;
    }

    getPQueue() {
      return this.items;
    }
  }

  var priorityQueue = new PriorityQueue();

  const roomName = JSON.parse(document.getElementById("room-name").textContent);

  const chatSocket = new WebSocket(
    "ws://" + window.location.host + "/ws/chat/" + roomName + "/"
  );


  const pluck = property => element => element[property]
  let chat_history_local_storage = JSON.parse(localStorage.getItem('chat_history_local_storage'))
  if (!chat_history_local_storage) {
    chat_history_local_storage = []
  } else {
    console.log(chat_history_local_storage)
  }

  chat_history_local_storage.forEach(message => {
    priorityQueue.enqueue(message.html, 1);
  });

  let displayData = priorityQueue.printPQueue();
  document.getElementById("direct-chat-messages").innerHTML = displayData;

  chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);

    if (data.message_type == 'user_status_message') { alert('Hi') }

    let html = ``
    // Here we differentiate between the sending user message and receiving user message
    if (!data.own_message) {
      html = `
        <!-- Message. Default to the left -->
        <div class="direct-chat-msg">
            <div class="direct-chat-info clearfix">
              <span class="direct-chat-name pull-left">${data.username}</span>
            </div>
            <img class="direct-chat-img" src="${data.thumbnail}" alt="Message User Image">
            <div class="direct-chat-text">
              ${data.message}
              <small class="direct-chat-timestamp pull-right ml-4">${data.message_time_stamp}</small>
            </div>
        </div> 
          `;

    } else {
      html = `
        <!-- Message  to the right -->
        <div class="direct-chat-msg right">
            <div class="direct-chat-info clearfix">
              <span class="direct-chat-name pull-right">${data.username} (you)</span>
            </div>
            <img class="direct-chat-img" src="${data.thumbnail}" alt="Message User Image">
            <div class="direct-chat-text">
              ${data.message}
              <small class="direct-chat-timestamp pull-right ml-4">${data.message_time_stamp}</small>
            </div>
        </div>
          `;
    }

    priorityQueue.enqueue(html, 1);
    displayData = priorityQueue.printPQueue()
    document.getElementById("direct-chat-messages").innerHTML = displayData;

    let saveDisplayData = priorityQueue.getPQueue().map(message => { return { 'html': message.element } })
    localStorage.setItem('chat_history_local_storage', JSON.stringify(saveDisplayData));
  };

  chatSocket.onclose = function (e) {
    console.error("Chat socket closed unexpectedly");
    if (confirm("The chat encountered an error while connecting. Would you like to reload the page to try a reconnect?")) {
      location.reload()
    }
  };

  document.querySelector("#chat-message-input").focus();
  var input = document.getElementById("chat-message-input");
  input.addEventListener("keypress", function (event) {
    // If the user presses the "Enter" key on the keyboard
    if (event.key === "Enter") {
      // Cancel the default action, if needed
      event.preventDefault();
      // Trigger the button element with a click
      // document.getElementById("myBtn").click();
      document.querySelector("#chat-message-submit").click();
    }
  });

  document.querySelector("#chat-message-submit").onclick = function (e) {
    const messageInputDom = document.querySelector("#chat-message-input");
    const message = messageInputDom.value;
    if (message.length <= 0) {
      return
    }
    chatSocket.send(
      JSON.stringify({
        message: message,
      })
    );
    messageInputDom.value = "";
  };


  setInterval(function () {
    chatSocket.send(
      JSON.stringify({
        user_status: 'ONLINE',
      })
    );
  }, 5000);


  function clearChatMessages(params) {
    localStorage.clear();
    if (confirm("Are you sure you want to clear the chat history?")) {
      localStorage.clear();
      location.reload()
    }
  }

</script>

<style>
  .results {
    display: flex;
    flex-wrap: wrap;
  }

  .max-width-chat {
    max-width: 900px;
  }

  .box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  .box.box-primary {
    border-top-color: #3c8dbc;
  }

  .box.box-info {
    border-top-color: #00c0ef;
  }

  .box.box-danger {
    border-top-color: #dd4b39;
  }

  .box.box-warning {
    border-top-color: #f39c12;
  }

  .box.box-success {
    border-top-color: #00a65a;
  }

  .box.box-default {
    border-top-color: #d2d6de;
  }

  .box.collapsed-box .box-body,
  .box.collapsed-box .box-footer {
    display: none;
  }

  .box .nav-stacked>li {
    border-bottom: 1px solid #f4f4f4;
    margin: 0;
  }

  .box .nav-stacked>li:last-of-type {
    border-bottom: none;
  }

  .box.height-control .box-body {
    max-height: 900px;
    overflow: auto;
  }

  .box .border-right {
    border-right: 1px solid #f4f4f4;
  }

  .box .border-left {
    border-left: 1px solid #f4f4f4;
  }

  .box.box-solid {
    border-top: 0;
  }

  .box.box-solid>.box-header .btn.btn-default {
    background: transparent;
  }

  .box.box-solid>.box-header .btn:hover,
  .box.box-solid>.box-header a:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  .box.box-solid.box-default {
    border: 1px solid #d2d6de;
  }

  .box.box-solid.box-default>.box-header {
    color: #444;
    background: #d2d6de;
    background-color: #d2d6de;
  }

  .box.box-solid.box-default>.box-header a,
  .box.box-solid.box-default>.box-header .btn {
    color: #444;
  }

  .box.box-solid.box-primary {
    border: 1px solid #3c8dbc;
  }

  .box.box-solid.box-primary>.box-header {
    color: #fff;
    background: #3c8dbc;
    background-color: #3c8dbc;
  }

  .box.box-solid.box-primary>.box-header a,
  .box.box-solid.box-primary>.box-header .btn {
    color: #fff;
  }

  .box.box-solid.box-info {
    border: 1px solid #00c0ef;
  }

  .box.box-solid.box-info>.box-header {
    color: #fff;
    background: #00c0ef;
    background-color: #00c0ef;
  }

  .box.box-solid.box-info>.box-header a,
  .box.box-solid.box-info>.box-header .btn {
    color: #fff;
  }

  .box.box-solid.box-danger {
    border: 1px solid #dd4b39;
  }

  .box.box-solid.box-danger>.box-header {
    color: #fff;
    background: #dd4b39;
    background-color: #dd4b39;
  }

  .box.box-solid.box-danger>.box-header a,
  .box.box-solid.box-danger>.box-header .btn {
    color: #fff;
  }

  .box.box-solid.box-warning {
    border: 1px solid #f39c12;
  }

  .box.box-solid.box-warning>.box-header {
    color: #fff;
    background: #f39c12;
    background-color: #f39c12;
  }

  .box.box-solid.box-warning>.box-header a,
  .box.box-solid.box-warning>.box-header .btn {
    color: #fff;
  }

  .box.box-solid.box-success {
    border: 1px solid #00a65a;
  }

  .box.box-solid.box-success>.box-header {
    color: #fff;
    background: #00a65a;
    background-color: #00a65a;
  }

  .box.box-solid.box-success>.box-header a,
  .box.box-solid.box-success>.box-header .btn {
    color: #fff;
  }

  .box.box-solid>.box-header>.box-tools .btn {
    border: 0;
    box-shadow: none;
  }

  .box.box-solid[class*='bg']>.box-header {
    color: #fff;
  }

  .box .box-group>.box {
    margin-bottom: 5px;
  }

  .box .knob-label {
    text-align: center;
    color: #333;
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 0.3em;
  }

  .box>.overlay,
  .overlay-wrapper>.overlay,
  .box>.loading-img,
  .overlay-wrapper>.loading-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }

  .box .overlay,
  .overlay-wrapper .overlay {
    z-index: 50;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
  }

  .box .overlay>.fa,
  .overlay-wrapper .overlay>.fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
  }

  .box .overlay.dark,
  .overlay-wrapper .overlay.dark {
    background: rgba(0, 0, 0, 0.5);
  }

  .box-header:before,
  .box-body:before,
  .box-footer:before,
  .box-header:after,
  .box-body:after,
  .box-footer:after {
    content: " ";
    display: table;
  }

  .box-header:after,
  .box-body:after,
  .box-footer:after {
    clear: both;
  }

  .box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
  }

  .box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
  }

  .collapsed-box .box-header.with-border {
    border-bottom: none;
  }

  .box-header>.fa,
  .box-header>.glyphicon,
  .box-header>.ion,
  .box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
  }

  .box-header>.fa,
  .box-header>.glyphicon,
  .box-header>.ion {
    margin-right: 5px;
  }

  .box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
  }

  .box-header>.box-tools [data-toggle="tooltip"] {
    position: relative;
  }

  .box-header>.box-tools.pull-right .dropdown-menu {
    right: 0;
    left: auto;
  }

  .btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #97a0b3;
  }

  .open .btn-box-tool,
  .btn-box-tool:hover {
    color: #606c84;
  }

  .btn-box-tool.btn:active {
    box-shadow: none;
  }

  .box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
  }

  .no-header .box-body {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }

  .box-body>.table {
    margin-bottom: 0;
  }

  .box-body .fc {
    margin-top: 5px;
  }

  .box-body .full-width-chart {
    margin: -19px;
  }

  .box-body.no-padding .full-width-chart {
    margin: -9px;
  }

  .box-body .box-pane {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3px;
  }

  .box-body .box-pane-right {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
  }

  .box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
  }

  .direct-chat .box-body {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    overflow-x: hidden;
    padding: 0;
  }

  .direct-chat.chat-pane-open .direct-chat-contacts {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .direct-chat-messages {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    padding: 10px;
    /* height: 250px; */
    height: 75vh;
    overflow: auto;
  }

  .direct-chat-msg,
  .direct-chat-text {
    display: block;
  }

  .direct-chat-msg {
    margin-bottom: 10px;
  }

  .direct-chat-msg:before,
  .direct-chat-msg:after {
    content: " ";
    display: table;
  }

  .direct-chat-msg:after {
    clear: both;
  }

  .direct-chat-messages,
  .direct-chat-contacts {
    -webkit-transition: -webkit-transform .5s ease-in-out;
    -moz-transition: -moz-transform .5s ease-in-out;
    -o-transition: -o-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
  }

  .direct-chat-text {
    border-radius: 5px;
    position: relative;
    padding: 5px 10px;
    background: #d2d6de;
    border: 1px solid #d2d6de;
    margin: 5px 0 0 50px;
    color: #444;
    width: fit-content;
  }

  .direct-chat-text:after,
  .direct-chat-text:before {
    position: absolute;
    right: 100%;
    top: 15px;
    border: solid transparent;
    border-right-color: #d2d6de;
    content: ' ';
    height: 0;
    width: 0;
    pointer-events: none;
  }

  .direct-chat-text:after {
    border-width: 5px;
    margin-top: -5px;
  }

  .direct-chat-text:before {
    border-width: 6px;
    margin-top: -6px;
  }

  .right .direct-chat-text {
    margin-right: 50px;
    margin-left: auto;
  }

  .right .direct-chat-text:after,
  .right .direct-chat-text:before {
    right: auto;
    left: 100%;
    border-right-color: transparent;
    border-left-color: #d2d6de;
  }

  .direct-chat-img {
    border-radius: 50%;
    float: left;
    width: 40px;
    height: 40px;
  }

  .right .direct-chat-img {
    float: right;
  }

  .right .direct-chat-info {
    display: block;
    text-align: right;
  }

  .direct-chat-info {
    display: flex;
    margin-bottom: 2px;
    font-size: 12px;
  }

  .direct-chat-name {
    font-weight: 600;
  }

  .direct-chat-timestamp {
    color: #999;
    margin-left: auto;
    white-space: nowrap;
  }

  .direct-chat-contacts-open .direct-chat-contacts {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .direct-chat-contacts {
    -webkit-transform: translate(101%, 0);
    -ms-transform: translate(101%, 0);
    -o-transform: translate(101%, 0);
    transform: translate(101%, 0);
    position: absolute;
    top: 0;
    bottom: 0;
    height: 250px;
    width: 100%;
    background: #222d32;
    color: #fff;
    overflow: auto;
  }

  .contacts-list>li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 0;
  }

  .contacts-list>li:before,
  .contacts-list>li:after {
    content: " ";
    display: table;
  }

  .contacts-list>li:after {
    clear: both;
  }

  .contacts-list>li:last-of-type {
    border-bottom: none;
  }

  .contacts-list-img {
    border-radius: 50%;
    width: 40px;
    float: left;
  }

  .contacts-list-info {
    margin-left: 45px;
    color: #fff;
  }

  .contacts-list-name,
  .contacts-list-status {
    display: block;
  }

  .contacts-list-name {
    font-weight: 600;
  }

  .contacts-list-status {
    font-size: 12px;
  }

  .contacts-list-date {
    color: #aaa;
    font-weight: normal;
  }

  .contacts-list-msg {
    color: #999;
  }

  .direct-chat-danger .right>.direct-chat-text {
    background: #dd4b39;
    border-color: #dd4b39;
    color: #fff;
  }

  .direct-chat-danger .right>.direct-chat-text:after,
  .direct-chat-danger .right>.direct-chat-text:before {
    border-left-color: #dd4b39;
  }

  .direct-chat-primary .right>.direct-chat-text {
    background: #3c8dbc;
    border-color: #3c8dbc;
    color: #fff;
  }

  .direct-chat-primary .right>.direct-chat-text:after,
  .direct-chat-primary .right>.direct-chat-text:before {
    border-left-color: #3c8dbc;
  }

  .direct-chat-warning .right>.direct-chat-text {
    background: #f39c12;
    border-color: #f39c12;
    color: #fff;
  }

  .direct-chat-warning .right>.direct-chat-text:after,
  .direct-chat-warning .right>.direct-chat-text:before {
    border-left-color: #f39c12;
  }

  .direct-chat-info .right>.direct-chat-text {
    background: #00c0ef;
    border-color: #00c0ef;
    color: #fff;
  }

  .direct-chat-info .right>.direct-chat-text:after,
  .direct-chat-info .right>.direct-chat-text:before {
    border-left-color: #00c0ef;
  }

  .direct-chat-success .right>.direct-chat-text {
    background: #00a65a;
    border-color: #00a65a;
    color: #fff;
  }

  .direct-chat-success .right>.direct-chat-text:after,
  .direct-chat-success .right>.direct-chat-text:before {
    border-left-color: #00a65a;
  }
</style>
{% endblock %}