final_main_root/final_main/__pycache__/
final_main_root/scripts/__pycache__/
finalfinal_main_root_main/scripts/__pycache__/
final_main_root/final_main_app/migrations/__pycache__/
final_main_root/final_main_app/__pycache__/
final_main_root/final_main/__pycache__/
