{% extends "./base.html" %} {% block content %} {% if user.is_authenticated %}

<div class="card border-light mb-3">
  <div class="card-header">Search for friends by username to add them</div>
  <div class="card-body">
    <form id="search_form" class="form-inline mt-3" onsubmit="searchUsers(event)">
      {% csrf_token %}
      <input class="form-control" type="text" name="username" value="" placeholder="Leave empty to get all peers"
        size="50" />
      <button class="btn btn-primary" type="submit">Search</button>
    </form>

    <div id="results"></div>
    {% else %}
    <p>You are not logged in, please register or log in.</p>
    {% endif %}
  </div>
</div>





<script>
  function searchUsers(event) {
    event.preventDefault();
    const formData = new FormData(event.target);
    const formProps = Object.fromEntries(formData);
    console.log(formProps);
    const req = new XMLHttpRequest();
    req.onreadystatechange = function () {
      if (req.readyState === 4) {
        console.log("Got Data");
        html = "";
        data = JSON.parse(req.response);
        if (data.length < 1) {
          html += `<p>There were no users found with user name ${formProps.username}</p>`;
        }
        data.forEach(function (obj) {
          html += `
          <div class="card mr-4 mt-4" style="width:fit-content;">
            <img class="mx-auto" src="${obj.image.thumbnail}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">${obj.user.username}</h5>
              <p class="item">${obj.user.first_name} ${obj.user.last_name}</p>
              <a href="/add-friend/${obj.user.username}" class="card-link">Add friend</a>
            </div>
          </div>
          
          `;
        });
        // html += "</div>";
        document.getElementById("results").innerHTML = html;
      }
    };
    req.open("GET", `/api/search-users?username=${formProps.username}`);
    req.send();
  }
</script>

<style>
  #results {
    display: flex;
    flex-wrap: wrap;
  }
</style>
{% endblock %}