{% extends "./base.html" %} {% load bootstrap4 %} {% block content %}
<div class="card border-light mb-3">
  <div class="card-header">Ask a question</div>
  <div class="card-body">
    <div class="col-md-12">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }} {{ content.as_p }}
        <div class="mt-4">
          <button class="btn btn-primary" type="submit" name="action" value="PREVIEW">
            Preview
          </button>
          <button class="btn btn-primary" type="submit" name="action" value="SAVE">
            Ask!
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% if preview %}
<div class="card border-light mb-3">
  <div class="card-header">{{ preview.user }}</div>
  <div class="card-body">
    <h5 class="card-title">{{ preview.title }}</h5>
    <p class="card-text">{{preview.content.content.html|safe }}</p>
    <footer><small>{{ preview.created|date}}</small></footer>
  </div>
</div>
{% endif %}

<style>
  .form-control {
    margin-bottom: 30px;
  }
</style>
{% endblock %}