{% extends "./base.html" %} {% block content %} {% if user.is_authenticated %}

<div class="card border-light mb-3">
  <div class="card-header">Explore stories</div>
  <div class="card-body">
    <nav class="navbar navbar-light bg-light">
      <form class="form-inline" onsubmit="searchStories(event)" id="search_form">
        {% csrf_token %}
        <input name="search_query" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <a href="/category/{{category.slug}}">{{category}}</a>
    </nav>

    <div id="results"></div>
  </div>
</div>


<div class="card border-light mb-3">
  <div class="card-header">Here are stories in {{category}}</div>
  <div class="card-body">
    <div id="results" style="display: flex;flex-wrap: wrap; align-items: flex-start;">
      <!-- Story recommendations -->
      {% for story in stories %}
      <div class="card mr-4" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{story}}</h5>
          <p class="card-text">
          <p>{{story.description}}</p>
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{story.author.first_name}} {{story.author.last_name}}</li>
          <li class="list-group-item">{{story.created_on|date}}</li>
        </ul>
        <div class="card-body">
          <div class="alert alert-primary" role="alert">
            <p class="mb-0">{{story.category}}</p>
          </div>
          <a href="/story/{{story.pk}}">Read more</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% else %}
<p>You are not logged in, please register or log in.</p>
{% endif %}

<style>
  #results {
    display: flex;
    flex-wrap: wrap;
  }
</style>

<script>
  function searchStories(event) {
    event.preventDefault();

    const formData = new FormData(event.target);
    const formProps = Object.fromEntries(formData);
    console.log(formProps);
    const req = new XMLHttpRequest();
    req.onreadystatechange = function () {
      if (req.readyState === 4) {
        console.log("Got Data");
        html = "";

        data = JSON.parse(req.response);
        if (data.length < 1) {
          html += `<p>There were no stories found about ${formProps.search_query}</p>`;
        }
        data.forEach(function (obj) {

          html += `
          
          <div class="card" style="width: 18rem; margin:10px;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap" /> -->
            <div class="card-body">
              <h5 class="card-title">${obj.title}</h5>
              <p class="card-text">
              <p>${obj.description}</p>
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">${obj.author.first_name} ${obj.author.last_name}</li>
              <li class="list-group-item">${obj.created_on}</li>
            </ul>
            <div class="card-body">
              <div class="alert alert-primary" role="alert">
                <p class="mb-0">${obj.category.name}</p>
              </div>
              <a href="/story/${obj.pk}">Read more</a>

            </div>
          </div>
          
          `;
        });
        // html += "</div>";
        document.getElementById("results").innerHTML = html;
      }
    };
    req.open("GET", `/api/search-stories?search_query=${formProps.search_query}`);
    req.send();
  }
</script>

{% endblock %}