{% extends "./base.html" %} {% load bootstrap4 %} {% block content %}
<div class="card border-light mb-3">
  <div class="card-header">Create a story</div>
  <div class="card-body">
    <!-- <form id="form" method="post" action="/create-story/" enctype="multipart/form-data"> -->
    <form method="post">
      {% csrf_token %} {{ form.as_p }} {{content.as_p}}
      <div class="mt-4">
        <button class="btn btn-primary" type="submit" name="action" value="PREVIEW">
          Preview
        </button>
        <button class="btn btn-primary" type="submit" name="action" value="SAVE">
          Publish!
        </button>
      </div>
    </form>

  </div>
</div>

{% if preview %}
<div class="card border-light mb-3">
  <div class="card-header">Written by {{preview.author.first_name}} {{preview.author.last_name}}</div>
  <div class="card-body">
    <h5 class="card-title">{{preview.title}}</h5>
    <p class="card-text">{{preview.description }}</p>
    <footer><small>{{preview.created_on|date}}</small></footer>
  </div>
</div>

<div class="card border-light mb-3">
  <div class="card-body">
    <p>{{preview.content.content.html|safe}}</p>
  </div>
</div>
{% endif %}
{% endblock %}