{% extends "./base.html" %} {% load bootstrap4 %} {% block content %}
<div class="card border-light mb-3">
  <div class="card-header">Create a story</div>
  <div class="card-body">
    <!-- <form id="form" method="post" action="/create-story/" enctype="multipart/form-data"> -->
    <form method="post">
      {% csrf_token %} {{ form.as_p }} {{content.as_p}}
      <div class="mt-4">
        <button class="btn btn-primary" type="submit" name="action" value="PREVIEW">
          Preview
        </button>
        <button class="btn btn-primary" type="submit" name="action" value="SAVE">
          Publish!
        </button>
    </form>

  </div>
</div>
{% endblock %}