{% extends "./base.html" %} {% load bootstrap4 %} {% block content %}
{% load static %}

<div class="card border-light mb-3">
    <div class="card-header">{{ group.name }} group page</div>
    <div class="card-body">
        <!-- <h5 class="card-title">Here you can find details for {{ group.name }}</h5> -->
        <p class="card-text">{{group.description }}</p>
        <p><a class="btn btn-primary" role="button" id="room_url" href="/chat/{{group.chat}}/">Enter</a> the group chat
            room.</p>

        <p>You can also copy the link to the chat room and share it with others to join the chat room for this group.
        </p>

        <div class="row">
            <div class="col-2">
                <input class="form-control" type="text" value="{{ request.get_host }}/chat/{{group.chat}}/"
                    id="myInput">
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" onclick="copyChatRoomLink()">Copy chat room link</button>
            </div>
        </div>

        <footer class="mt-4"><small>{{ group.created_on|date}}</small></footer>
    </div>
</div>

<div class="card border-light mb-3">
    <div class="card-header">{{ group.name }} group members</div>
    <div class="card-body results">
        {% for obj in group.users.all %}
        <div class="card m-4" style="width:fit-content;">
            {% if obj.images.count > 0 %}
            <img class="mx-auto p-3" src="{{obj.images.first.thumbnail.url}}" alt="Card image cap">
            {% else %}
            <img class="mx-auto p-3" src="{% static '/final_main_app/user.png' %}" alt="Card image cap">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{obj.user.username}}</h5>
                <p class="item">{{obj.user.first_name}} {{obj.user.last_name}}</p>
                <a href="/add-friend/{{obj.user.username}}" class="card-link">Add friend</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    function copyChatRoomLink() {
        // Get the text field
        var copyText = document.getElementById("myInput");

        // Select the text field
        copyText.select();

        // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.value).then(function (x) {
            alert("Link copied to clipboard: " + copyText.value);
        });
    }
</script>

<style>
    .results {
        display: flex;
        flex-wrap: wrap;
    }
</style>
{% endblock %}