{% extends "./base.html" %} {% block content %} {% if user.is_authenticated %}

<div class="card border-light mb-3">
  <div class="card-header">Search for groups by name to add them</div>
  <div class="card-body">
    <form id="search_form" class="form-inline" onsubmit="searchGroups(event)">
      {% csrf_token %}
      <input class="form-control" type="text" name="groupname" value="" placeholder="Leave empty to get all groups"
        size="50" />
      <button class="btn btn-primary" type="submit">Search</button>
    </form>

    <div id="results"></div>
    {% else %}
    {% include "./logged_out_message.html %}
    {% endif %}
  </div>
</div>

<script>
  function searchGroups(event) {
    event.preventDefault();
    const formData = new FormData(event.target);
    const formProps = Object.fromEntries(formData);
    const req = new XMLHttpRequest();
    req.onreadystatechange = function () {
      if (req.readyState === 4) {
        html = "";

        data = JSON.parse(req.response);
        if (data.length < 1) {
          html += `<p>There were no groups found with group name ${formProps.name}</p>`;
        }
        data.forEach(function (obj) {
          html += `
          
          <div class="card mt-4 mr-4" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">${obj.name}</h5>
              <p class="card-text">${obj.description}</p>
              <a href="/join-group/${obj.name}" class="card-link">Join group</a>
            </div>
          </div>
          
          `;
        });
        // html += "</div>";
        document.getElementById("results").innerHTML = html;
      }
    };
    req.open("GET", `/api/search-groups?groupname=${formProps.groupname}`);
    req.send();
  }
</script>

<style>
  #results {
    display: flex;
    flex-wrap: wrap;
  }
</style>
{% endblock %}