{% block content %}

<h5>{{question.answer_set.count}} Answers</h5>
<!--  -->
<ul class="list-group list-group-flush">
    {% for answer in question.answer_set.all %}
    <li class="list-group-item">
        <div class="col-sm-9 col-md-10">
            <div class="body">{{ answer.answer }}</div>
            <div class="meta font-weight-light">
                Answered by {{ answer.user }} on {{ answer.created|date }}
            </div>
            <ul class="list-group list-group-horizontal-xl">
                <li class="list-group-item">
                  <button type="submit" class="btn" value="{{answer.pk}}" onclick="upVote(this)">
                    👍
                </button>
                </li>
                <li class="list-group-item">
                  <button type="submit" class="btn" value="{{answer.pk}}" onclick="downVote(this)">
                    👎
                </button>
                </li>
            </ul>

    </li>
    {% empty %}
    <li class="answer">No answers yet!</li>
    {% endfor %}
</ul>

<script>
    function upVote(element) {
      vote({upvote:1},element);
    }
    function downVote(element) {
      vote({donw_vote:1},element);
    }
    function vote(element) {
      const req = new XMLHttpRequest();
      req.onreadystatechange = function () {
        if (req.readyState === 4) {
          console.log("Got Data");
          html = "";
          // html = '<div class="image-grid container">';
          html = "<h3>Your search results</h3>";
  
          data = JSON.parse(req.response);
          if (data.length < 1) {
            html += `<p>There were no users found with user name ${formProps.username}</p>`;
          }
          data.forEach(function (obj) {
            html += `
            <div class="card" style="width:fit-content;">
              <img class="mx-auto" src="${obj.image.thumbnail}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">${obj.user.username}</h5>
                <p class="item">${obj.user.first_name} ${obj.user.last_name}</p>
                <a href="/add-friend/${obj.user.username}" class="card-link">Add friend</a>
              </div>
            </div>
            
            `;
          });
          // html += "</div>";
          document.getElementById("results").innerHTML = html;
        }
      };
      req.open("GET", `/api/search-users?username=${formProps.username}`);
      req.send();
    }
  </script>

{% endblock %}