{% block content %}

<h5>{{question.answer_set.count}} Answers</h5>
<!--  -->
<ul class="list-group list-group-flush">
  {% for answer in question.answer_set.all %}
  <li class="list-group-item">
    <div class="col-sm-9 col-md-10">
      <div class="body">{{ answer.answer.html|safe }}</div>
      <div class="meta font-weight-light">
        Answered by {{ answer.user }} on {{ answer.created|date }}
      </div>
      <ul class="list-group list-group-horizontal-xl">
        <li class="list-group-item">
          <button id="upvote" type="submit" class="btn" value="{{answer.pk}}" onclick="upVote(this)">
            👍 <small>{{answer.upvotes}}</small>
          </button>
        </li>
        <li class="list-group-item">
          <button id="down_vote" type="submit" class="btn" value="{{answer.pk}}" onclick="downVote(this)">
            👎 <small>{{answer.down_votes}}</small>
          </button>
        </li>
      </ul>

  </li>
  {% empty %}
  <li class="answer">No answers yet!</li>
  {% endfor %}
</ul>

<script>
  const upvote = 'upvote'
  const downvote = 'downvote'
  function upVote(element) {
    vote({ type: upvote }, element);
  }
  function downVote(element) {
    vote({ type: downvote }, element);
  }
  function vote(voteTypeArg, element) {
    let voteType = voteTypeArg.type
    let answerPk = voteTypeArg.type

    const request = new Request(
      '/api/vote/',
      {
        method: 'PUT',
        headers: {
          'X-CSRFToken': csrftoken,
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        mode: 'same-origin', // Do not send CSRF token to another domain.
        body: JSON.stringify({ vote_type: voteType, answer_pk: element.value })
      }
    );

    fetch(request)
      .then((response) => response.json())
      .then((data) => {
        let text = "Success!";
        confirm(text)
        location.reload()
      })
      .catch((error) => {
        alert('error!')
      });
  }
</script>

{% endblock %}