{% block content %}

<h5>{{question.answer_set.count}} Answers</h5>
<!--  -->
<ul class="list-group list-group-flush">
    {% for answer in question.answer_set.all %}
    <li class="list-group-item">
        <div class="col-sm-9 col-md-10">
            <div class="body">{{ answer.answer }}</div>
            <div class="meta font-weight-light">
                Answered by {{ answer.user }} on {{ answer.created|date }}
            </div>
            <ul class="list-group list-group-horizontal-xl">
                <li class="list-group-item">
                    <form class="form-inline" method="post" action="{% url "final_main_app:update_answer_acceptance" pk=answer.id %}">
                        {% csrf_token %}
                        {{ accept_form }}
                        <button type="submit" class="btn" title="Accept answer">
                            👍
                        </button>
                    </form>
                </li>
                <li class="list-group-item">
                    <form class="form-inline" method="post" action="{% url "final_main_app:update_answer_acceptance" pk=answer.id %}">
                        {% csrf_token %}
                        {{ reject_form }}
                        <button type="submit" class="btn">
                            👎
                        </button>
                    </form>
                </li>
            </ul>

    </li>
    {% empty %}
    <li class="answer">No answers yet!</li>
    {% endfor %}
</ul>

<!-- <ul class="list-unstyled answers">
    {% for answer in question.answer_set.all %}
    <li class="answer">
        <div class="col-sm-3 col-md-2 text-center">
            {% if answer.accepted %}
            <span class="badge badge-pill badge-success">Accepted</span>
            {% endif %}
            {% if answer.accepted and reject_form %}
            <form method="post" action="{% url "final_main_app:update_answer_acceptance" pk=answer.id %}">
                {% csrf_token %}
                {{ reject_form }}
                <button type="submit" class="btn btn-link">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    Reject
                </button>
            </form>
            {% elif accept_form %}
            <form method="post" action="{% url "final_main_app:update_answer_acceptance" pk=answer.id %}">
                {% csrf_token %}
                {{ accept_form }}
                <button type="submit" class="btn btn-link" title="Accept answer">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    Accept
                </button>
            </form>
            {% endif %}
        </div>
        <div class="col-sm-9 col-md-10">
            <div class="body">{{ answer.answer }}</div>
            <div class="meta font-weight-light">
                Answered by {{ answer.user }} on {{ answer.created }}
            </div>
        </div>
    </li>
    {% empty %}
    <li class="answer">No answers yet!</li>
    {% endfor %}
</ul> -->

{% endblock %}