{% extends "./base.html" %} {% load bootstrap4 %} {% block content %}

<div class="card border-light mb-3">
  <div class="card-header">Your friends</div>
  <div class="card-body">
    <div id="results">
      {% for friend in appuser.friends.all %}
      <div class="card m-4" style="width: 18rem;">
        <img class="mx-auto p-3" src="{{friend.images.first.thumbnail.url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{friend}}</h5>
          <p class="card-title">{{friend.user.first_name}} {{friend.user.last_name}}</p>
          <a href="/new-chat/" class="card-link">Chat</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<style>
  #results {
    display: flex;
    flex-wrap: wrap;
  }
</style>
{% endblock %}