{% extends "./base.html" %} {% load bootstrap4 %} {% block content %}



<div class="card border-light mb-3">
  <div class="card-header">{{ appuser.user }} here are your groups</div>
  <div class="card-body">
    <div id="results" style="display: flex;flex-wrap: wrap; align-items: flex-start;">
      {% for group in appuser.groups.all %}
      <div class="card mr-4" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{group.name}}</h5>
          <p class="card-text">{{group.description}}</p>
          <a href="/group/{{group.pk}}" class="card-link">View</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


{% if badge_unlocked %}
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Congrats {{ appuser.user.username }} 🥳!</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
              </button>
          </div>
          <div class="modal-body">
              You unlocked your create group badge. Keep going 🎉!

              {% for badge in appuser.user_badges.all %}
              <div class="mt-4" style="display: flex; flex-direction: column; align-items: center;">
                <img src="{{badge.icon.url}}" style="width: 128px;" alt="Card image cap">
                <small>{{badge.name}}</small>
              </div>
              {% endfor %}
              
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary mx-auto" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>

<script>
  $(window).on('load', function () {
      var delayMs = 1500; // delay in milliseconds
      setTimeout(function () {
              $('#myModal').modal('show');
              var audio = new Audio('/static/final_main_app/sounds/success_sound.mp3');
              audio.play();
      }, delayMs);
  });

</script>

{% endif %}


{% endblock %}