{% extends "./base.html" %} {% load bootstrap4 %} {% block content %}


<div class="card border-light mb-3">
    <div class="card-header">Knowledge Hub</div>
    <div class="card-body">
        <p class="card-text"><a class="btn btn-primary" role="button" href="/ask-question/">Ask a question</a></p>
    </div>
</div>

<div class="card border-light mb-3">
    <div class="card-header">Search for questions.</div>
    <div class="card-body">
        <form id="search_form" class="form-inline" onsubmit="searchQuestions(event)">
            {% csrf_token %}
            <input class="form-control" type="text" name="search_query" value=""
                placeholder="How to overcome anxiety..." size="50" />
            <button class="btn btn-primary" type="submit">Search</button>
        </form>

        <div id="results" class="list-group mt-4"></div>
    </div>
</div>

<div class="card border-light mb-3">
    <div class="card-header">Top questions</div>
    <div class="card-body">
        <div class="list-group">
            {% for question in object_list %}
            <a href="/question/{{question.id}}" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-primary">{{question.title}}</h5>
                    <div>
                        <div class="row"><small>{{question.created | date}}</small></div>
                        <div class="row"><small>
                                {% if question.answer_set.count > 0 %}
                                {{question.answer_set.count}} answers
                                {% else %}
                                no answers
                                {% endif %}
                            </small></div>
                    </div>
                </div>
                <p class="mb-1">{{question.question.text|safe}}</p>
                <small>{{question.user}}</small>
            </a> {% empty %}
            <li>No questions yet.</li>
            {% endfor %}
        </div>
    </div>
</div>




<script>
    function searchQuestions(event) {
        event.preventDefault();
        const formData = new FormData(event.target);
        const formProps = Object.fromEntries(formData);
        const req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (req.readyState === 4) {
                html = "";

                data = JSON.parse(req.response);
                if (data.length < 1) {
                    html += `<p>There were no users found with user name ${formProps.search_query}</p>`;
                }
                data.forEach(function (obj) {
                    html += `
                    <a href="/question/${obj.id}" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1 text-primary">${obj.title}</h5>
                        <small>${obj.created}</small>
                        </div>
                        <p class="mb-1">${obj.content.content}</p>
                        <small>${obj.user.user.username}</small>
                    </a>  
            
            `;
                });
                // html += "</div>";
                document.getElementById("results").innerHTML = html;
            }
        };
        req.open("GET", `/api/search-questions?search_query=${formProps.search_query}`);
        req.send();
    }
</script>
{% endblock %}